.body-main {
    padding: 15px;
}

/* 侧边栏 */
.layui-nav-tree .layui-nav-child a {
    margin-left: 20px;
}

.layui-nav-tree i {
    margin-right: 5px;
}

/* tab */
.layui-tab-title {
    position: fixed;
    left: 200px;
    right: 0;
    top: 60px;
}

ul.layui-tab-title li:first-child {
    padding: 0;
}

ul.layui-tab-title li:first-child i:last-child {
    display: none;
}
