<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>出错了</title>
    <div th:replace="/admin/common/head"></div>
</head>
<body>


<div class="layui-fluid">
    <div class="layadmin-tips">
        <i class="layui-icon" face>&#xe664;</i>

        <div class="layui-text" style="font-size: 20px;">
            好像出错了呢
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>卡片面板</legend>
        </fieldset>

        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <div class="layui-card">
                        <div class="layui-card-header" th:text="#{class}"></div>
                        <div class="layui-card-body" th:text="#{message}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/admin/common/js"></div>
<script th:inline="none">
    layui.config({
        base: '/assets/lib/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index']);
</script>
</body>
</html>
