<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色管理 - Skeleton</title>
    <div th:replace="/admin/common/head"></div>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">角色管理</div>

        <div class="layui-card-body">
            <table id="dataTable" lay-filter="dataTableFilter"></table>
            <!-- 头按钮 -->
            <script type="text/html" id="headBar">
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="refresh">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
            </script>
            <!-- 行按钮 -->
            <script type="text/html" id="rowBar">
                <a class="layui-btn layui-btn-sm" lay-event="edit">
                    <i class="layui-icon layui-icon-edit"></i>分配权限
                </a>
            </script>
            <!-- 编辑区 -->
            <div id="editModel" style="display: none; padding: 15px;">
                <form id="editForm" class="layui-form" action="" lay-filter="editFormFilter">
                    <input type="hidden" name="id">
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="required" lay-reqtext="角色名称岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="description" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分配资源</label>
                        <div class="layui-input-block">
                            <div id="dataTree"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="submitFilter">
                                <i class="layui-icon layui-icon-ok"></i>更新
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="/admin/common/js"></div>
<script th:inline="none">
    layui.config({
        base: '/assets/lib/layuiadmin/' //静态资源所在路径
    }).config({
        base: '/assets/lib/tellsea/js/modules/'
    }).use(['form', 'table', 'element', 'tree', 'eject'], function () {
        var $ = layui.$
            , form = layui.form
            , tree = layui.tree
            , eject = layui.eject
            , table = layui.table;
        // 初始加载树
        $.ajax({
            url: '/resourceInfo/listResourceInfoByTree',
            type: 'get',
            dataType: 'json',
            success: function (res) {
                tree.render({
                    elem: '#dataTree'
                    , data: res.data
                    , showCheckbox: true
                    , id: 'myTree'
                });
            },
            error: function () {
                layer.msg('加载树出错了，请稍后再试!');
            }
        });

        //执行一个 table 实例
        table.render({
            elem: '#dataTable'
            , id: 'dataTable'
            , method: 'post'
            , url: '/roleInfo/listRoleInfo'
            , title: '角色管理'
            , toolbar: '#headBar'
            , page: true
            , cols: [[
                {type: 'numbers', title: '序号'}
                , {field: 'name', title: '角色名'}
                , {field: 'description', title: '描述'}
                , {fixed: 'right', title: '操作', width: 150, toolbar: '#rowBar'}
            ]]
        });

        var treeCheckedIdss = [];
        var active = {
            refresh: function () {
                table.reload('dataTable', {
                    where: {

                    }
                });
            },
            treeCheckedId: function (data) {
                for (var i = 0; i < data.length; i++) {
                    treeCheckedIdss.push(data[i].id);
                }
                for (var i = 0; i < data.length; i++) {
                    if (data[i].children.length > 0) {
                        active.treeCheckedId(data[i].children);
                    }
                }
            },
            treeCheckedIds: function (data) {
                active.treeCheckedId(data);
                return treeCheckedIdss;
            }
        };

        // 监听头工具栏事件
        table.on('toolbar(dataTableFilter)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            if (obj.event === "refresh") {
                active.refresh();
            }
        });

        // 监听行工具事件
        table.on('tool(dataTableFilter)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                form.val('editFormFilter', {
                    "id": data.id,
                    "name": data.name,
                    "description": data.description
                });
                $.ajax({
                    url: '/resourceInfo/listResourceInfoByRoleId',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        "roleId": data.id
                    },
                    success: function (res) {
                        var ids = [];
                        for (var i = 0; i < res.data.length; i++) {
                            ids.push(res.data[i].id);
                        }
                        tree.setChecked('myTree', ids);
                    },
                    error: function () {
                        layer.msg('设置树选中出错了,请稍后再试!', {time: 1000, icon: 2});
                    }
                });
                var index = eject.form('分配资源', 'editModel', 'editForm', function () {
                    alert('点击确定');
                    // var entity = $("#editForm").serializeJson();
                    var checkedData = tree.getChecked('myTree');
                    // 获得所有选中节点的id
                    console.log(checkedData);
                    var resourceIds = active.treeCheckedIds(checkedData);
                    console.log(resourceIds.join(','));
                    /*$.ajax({
                        url: '/roleInfo/updateRoleInfo',
                        type: 'post',
                        data: data.field,
                        dataType: 'json',
                        success: function (res) {
                            layer.msg(res.message);
                            active.refresh();
                        },
                        error: function () {
                            layer.msg('请求失败，请稍后再试!');
                        }
                    });*/
                    // layer.close(index);
                }, false, 500);
            }
        });

        // 全局按钮监听
        $('.bind-event').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>
