<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <link rel="stylesheet" href="/assets/lib/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <!-- 主体内容开始 -->
                <div class="layui-collapse" lay-filter="search-box">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">搜索条件</h2>
                        <div class="layui-colla-content">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">手机号</label>
                                    <div class="layui-input-inline">
                                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">邮箱</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i></button>
                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"><i class="layui-icon layui-icon-refresh"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="layui-hide" id="demo" lay-filter="test"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="detail">查看</a>
                    <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
                </script>
                <script type="text/html" id="switchStatus">
                    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="有效|锁定" lay-filter="statusDemo" {{ d.status == 1 ? 'checked' : '' }}>
                </script>
                <!-- 主体内容结束 -->
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/lib/layui/layui.js"></script>
<script th:inline="none">
    layui.config({
        version: '1560414887155' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格

        //执行一个 table 实例
        table.render({
            elem: '#demo'
            , method: 'post'
            , url: '/userInfo/listUserInfo'
            , page: true
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', sort: true, height: 80}
                , {field: 'userName', title: '账户'}
                , {field: 'nickName', title: '昵称'}
                , {field: 'avatar', title: '头像',
                    templet: function(d){
                        return "<img onclick=\"showImg(this)\" src=\"${fileServerUrl}" + d.avatar + "\" style=\"height: 80px; cursor: pointer;\">";
                    }
                }
                , {field: 'sex', title: '性别', sort: true, templet: function (d) {
                        var sex = ['女', '男'];
                        return sex[d.sex * 1];
                    }
                }
                , {field: 'phone', title: '手机号码'}
                , {field: 'description', title: '描述'}
                , {field: 'createUserName', title: '创建人'}
                , {field: 'createTime', title: '创建时间'}
                ,{field: 'status', title: '状态', templet: '#switchStatus',}
                , {fixed: 'right', width: 200, align: 'center', toolbar: '#barDemo'}
            ]]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    layer.msg('添加');
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            //,skip: true //开启跳页
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页', {offset: 'b'});
                }
            }
        });

        slider.render({
            elem: '#sliderDemo'
            , input: true //输入框
        });
    });

    // 查看图片
    function showImg(obj) {
        $('.viewer-img').attr('src', $(obj).attr('src'));
        $('.viewer-img').click();
    }
</script>
</body>
</html>
